{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
        <h1>Sudoku Solver</h1>        
</div>

<div class="container" align="center" onsubmit="return validateForm()">
    <form action="" method="post">
        {% csrf_token %}
        <!-- <table class="table table-sm"> -->
                {% for elements in board %}
                <!-- <tr> -->
                        {% for element in elements %}
                        <!-- <td> -->
                                <input class="text-center square"  size=1 maxlength=1 name={{forloop.parentloop.counter}}{{forloop.counter}} value={{element}}>
                        <!-- </td> -->
                        {% endfor %}
                        <br>
                    <!-- </tr> -->
                {% endfor %} 
        <!-- </table> -->
        <button type="submit" class="btn btn-dark btn-lg btn-block">Solve</button>
    </form>
</div>
{% endblock %}